.nav_tab{
    color: beige;
    
}
.my{
  font-size: 20px;
}
.arrow {
    border: solid greenyellow;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 5px;
    vertical-align: text-top;
  }
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

.my_card_text{
    color: floralwhite; 
    font-family: segoe UI;
  }

.my_card{
  background-color: rgb(100, 100, 100);
}


