<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/css/main.css" rel="stylesheet">

    <title>Heath Plus | A Disease Detection App</title>
  </head>
  <body style="background-color: darkgray;">

     <!-- sidebar -->
    
     <div class="float-start text-white bg-dark" style="width: 200px; height:100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <span><a class=" nav-link fs-4" style="color: chartreuse;" href="{{ url_for('main_page') }}">Health +</a> </span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{{ url_for('main_page') }}" class="nav-link text-white" aria-current="page">
            Home
          </a>
        </li>
        <hr>
        <li>
          <a href="{{ url_for('bmi') }}" class="nav-link active">
            BMI
          </a>
        </li>
        <li>
          <a href="{{ url_for('diabetes') }}" class="nav-link text-white">
            Diabetes
          </a>
        </li>
        <li>
          <a href="{{ url_for('heart') }}" class="nav-link text-white">
            Heart
          </a>
        </li>
        <li>
          <a href="{{ url_for('kidney') }}" class="nav-link text-white">
            Kidney
          </a>
        </li>
        <li>
          <a href="{{ url_for('liver') }}" class="nav-link text-white">
            Liver
          </a>
      </ul>
    </div>

	  <!-- calculator -->
    <div class="container d-flex justify-content-start " style="width: 50vw;" >
      <form action = '/bmi_pred' method = 'POST'  style=" padding: 7vh 1vw ; border-radius: 20px">
          <div class="input-group mb-3">
              <span class="input-group-text" style="width: 15vw;" id="basic-addon1">Weight </span>
              <input type="number" step="any" name="wt" class="form-control" placeholder="in kg" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            
            <div class="input-group mb-3">
              <span class="input-group-text" style="width: 15vw;" id="basic-addon1">Height </span>
              <input type="number" step="any" name="ht" class="form-control" placeholder="in cm" aria-label="Username" aria-describedby="basic-addon1">
            </div>

            <button type="submit" class="btn btn-primary">Calculate</button>
            <hr>
            <h2 style="text-align: center; font-family: sans-serif; color: black;">{{pred}}</h2>
          </form>
	</body>
	</html>