<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/css/main.css" rel="stylesheet">

    <title>Heath Plus | A Disease Detection App</title>
  </head>
  <body style="background-color: darkgray;">

    <!-- sidebar -->
    
    <div class="float-start text-white bg-dark" style="width: 200px; height:100vh;">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">

        <span><a class=" nav-link fs-4" style="color: chartreuse;" href="{{ url_for('main_page') }}">Health +</a> </span>
      </a>
      <hr>
      <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
          <a href="{{ url_for('main_page') }}" class="nav-link text-white" aria-current="page">
            Home
          </a>
        </li>
        <hr>
        <li>
          <a href="{{ url_for('bmi') }}" class="nav-link text-white">
            BMI
          </a>
        </li>
        <li>
          <a href="{{ url_for('diabetes') }}" class="nav-link text-white">
            Diabetes
          </a>
        </li>
        <li>
          <a href="{{ url_for('heart') }}" class="nav-link text-white">
            Heart
          </a>
        </li>
        <li>
          <a href="{{ url_for('kidney') }}" class="nav-link text-white">
            Kidney
          </a>
        </li>
        <li>
          <a href="{{ url_for('liver') }}" class="nav-link active">
            Liver
          </a>
      </ul>
    </div>

      <!-- Main-form -->

      <div class="container d-flex justify-content-start " style="width: 50vw;" >
        <form action = '/liver_pred' method = 'POST' style=" padding: 7vh 1vw ; border-radius: 20px">
            <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;" id="basic-addon1">Age</span>
                <input type="text" name="age" class="form-control" placeholder="Years" aria-label="Username" aria-describedby="basic-addon1">
              </div>

              <div class="input-group mb-3">
                <label for="gender" class="input-group-text" style="width: 15vw;" for="inputGroupSelect01">Gender</label>
                <select class="form-select" id="inputGroupSelect01" name="gender">
                  <option selected>Select</option>
                  <option value="1">Male</option>
                  <option value="0">Female</option>
                </select>
              </div> 
              

              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;" id="basic-addon1">Total Bilirubin</span>
                <input type="text" name="tb" class="form-control" placeholder="in mg/dL" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;" id="basic-addon1">Direct Bilirubin</span>
                <input type="text" name="db" class="form-control" placeholder="in mg/dL" aria-label="Username" aria-describedby="basic-addon1">
              </div>
          
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;" id="basic-addon1">Alkaline Phosphotase</span>
                <input type="text" name="ap" class="form-control" placeholder="in IU/L" aria-label="Username" aria-describedby="basic-addon1">
              </div>              
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;"id="basic-addon1">Alamine</span>
                <input type="text" name="ala" class="form-control" placeholder="in IU/L" aria-label="Username" aria-describedby="basic-addon1">
              </div>              
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;"id="basic-addon1">Aspartate</span>
                <input type="text" name="as" class="form-control" placeholder="in IU/L" aria-label="Username" aria-describedby="basic-addon1">
              </div>              
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;"id="basic-addon1">Total Protiens</span>
                <input type="text" name="tp" class="form-control" placeholder="in g/dL" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;"id="basic-addon1">Albumin</span>
                <input type="text" name="alb" class="form-control" placeholder=" in g/dL" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <span class="input-group-text" style="width: 15vw;"id="basic-addon1">A/G ratio</span>
                <input type="text" name="agr" class="form-control" placeholder="Ratio" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              
              
            <button type="submit" class="btn btn-primary">Check</button>
            <hr>
            <h2 style="text-align: center; font-family: sans-serif; color: black;">{{pred}}</h2>
          </form>
      </div>

</body>
</html>