<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link href="/static/main.css" rel="stylesheet">

    <title>Heath Plus | A Disease Detection App</title>
  </head>
  <body style="background-color: black;">

    <!-- navbar -->
    <div>
      <header class="mb-auto">
        <div>
          <h3 class="float-md-start mb-0 " style="color: chartreuse;">Health +</h3>
          <nav class="nav nav-masthead justify-content-center  ">
            <a class="nav-link active nav_tab lg my " aria-current="page" href="{{ url_for('main_page') }}">Home</a>
            <li class="nav-item">
              <a class="nav-link nav_tab my" href="{{ url_for('about') }}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav_tab my" href="{{ url_for('contact') }}">Contact</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav_tab my" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false ">Check-Ups
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ url_for('bmi') }}">BMI</a></li>
                <li><a class="dropdown-item" href="{{ url_for('heart') }}">Heart</a></li>
                <li><a class="dropdown-item" href="{{ url_for('diabetes') }}">Diabetes</a></li>
                <li><a class="dropdown-item" href="{{ url_for('kidney') }}">Kidney</a></li>
                <li><a class="dropdown-item" href="{{ url_for('liver') }}">Liver</a></li>
              </ul>
              </li>
          </nav>
        </div>
      </header>
      </div>


    <!-- caraousel -->
    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="static/internet-heartbeat.gif" style="width: 100vw; height: 90vh;" class="d-block" alt="Oops, Image Not Found">
          <div class="carousel-caption d-none d-md-block">
            <button type="button" class="btn btn-dark justify-content-center btn-lg" style="border-radius: 50%;"><a href="#here"><i class="arrow down"></a></i></button>
          </div>
        </div>
        <div class="carousel-item" >
          <img src="static/unsplash.jpg" style="width: 100vw; height: 90vh;"  class="d-block " alt="Oops, Image Not Found">
          <div class="carousel-caption d-none d-md-block">
            <button type="button" class="btn btn-dark justify-content-center btn-lg" style="border-radius: 50%;"><a href="#here"><i class="arrow down"></a></i></button>
          </div>
        </div>
        <div class="carousel-item">
          <img src="static/unsplash1.jpg" style="width: 100vw; height: 90vh;" class="d-block" class="d-block " alt="Oops, Image Not Found">
          <div class="carousel-caption d-none d-md-block">
            <button type="button" class="btn btn-dark justify-content-center btn-lg" style="border-radius: 50%;"><a href="#here"><i class="arrow down"></a></i></button>
          </div>
          
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </button>
      
    </div>
    

    <!-- cards -->
    <div class='cards container' style="margin-top: 50px;" id="here">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card my_card" >
            <img src="/static/bmi.JPG" class="card-img-top" alt="Oops, Image Not Found" height="400px"  >
            <div class="card-body">
              <h5 class="card-title">BMI</h5>
              <p class="card-text my_card_text">The objective of this calculator is to simply calculate Body-Mass-Index with the inputs of body weight in kg and height in cm. </p>
              <a href="{{ url_for('bmi') }}" class="btn btn-primary">Check</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card my_card" >
            <img src="/static/human-heart.jpg" class="card-img-top" alt="Oops, Image Not Found" height="400px"  >
            <div class="card-body">
              <h5 class="card-title">Heart Disease</h5>
              <p class="card-text my_card_text">The objective of the model is to diagnostically predict whether or not a patient has heart disease, based on certain diagnostic measurements.</p>
              <a href="{{ url_for('heart') }}" class="btn btn-primary">Check</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card my_card " >
            <img src="static/diabetes.jpg" class="card-img-top" alt="Oops, Image Not Found" height="400px" >
            <div class="card-body">
              <h5 class="card-title">Diabetes</h5>
              <p class="card-text my_card_text" >The objective of the model is to diagnostically predict whether or not a patient has diabetes, based on certain diagnostic measurements.</p>
              <a href="{{ url_for('diabetes') }}" class="btn btn-primary">Check</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card my_card">
            <img src="static/kidney.jpg" class="card-img-top" alt="Oops, Image Not Found" height="400px">
            <div class="card-body">
              <h5 class="card-title">Kidney Disease</h5>
              <p class="card-text my_card_text">The objective of the model is to diagnostically predict whether or not a patient has chronic Kidney disease, based on certain diagnostic measurements.</p>
              <a href="{{ url_for('kidney') }}" class="btn btn-primary">Check</a>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card my_card">
            <img src="static/liver.jpg" class="card-img-top" alt="Oops, Image Not Found" height="400px">
            <div class="card-body">
              <h5 class="card-title">Liver Disease</h5>
              <p class="card-text my_card_text">The objective of the model is to diagnostically predict whether or not a patient has Liver disease, based on certain diagnostic measurements.</p>
              <a href="{{ url_for('liver') }}" class="btn btn-primary">Check</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


  </body>
</html>